<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addproduct.css') }}">
    <title>Добавление продукта</title>
</head>
<body>
    <div class="top">
        <h1>1-ая конструкция</h1>
        <div>
            {% if admin == 0 %}
                <a href="/add_product">Добавить мерч</a>
                <a href="/add_ticket">добавить концерт</a>
            {% endif %}
            <a href="/shop">Мерч</a>
            <a href="/cart">Карзина</a>
            <a href="/login">Войти</a>
        </div>
    </div>
    <h1>Добавление товара</h1>
    <form action="/add_product" method="post" enctype="multipart/form-data">
        <label for="name">Название:</label>
        <input type="text" name="name" id="name" required>
        <br><br>
        <label for="price">Цена:</label>
        <input type="number" name="price" id="price" required>
        <br><br>
        <label for="count">Количество:</label>
        <input type="number" name="count" id="count" required>
        <br><br>
        <label for="description">Описание:</label>
        <textarea name="description" id="description" required></textarea>
        <br><br>
        <label for="image">Изображение:</label>
        <input type="file" name="image" id="image" required>
        <br><br>
        <input type="submit" value="Добавить товар">
    </form>
</body>
</html>