{% extends"base.html" %}

{% block title %}Добавление продукта{% endblock %}

{% block page %}
    <div class="shop-products">
        <table class="correct-products">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Фото</td>
                    <td>Название</td>
                    <td>Цена</td>
                    <td>Описание</td>
                    <td>Количество</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product[0] }}</td>
                        <td>{{ product[1] }}</td>
                        <td>{{ product[2] }}</td>
                        <td>{{ product[3] }}</td>
                        <td>{{ product[4] }}</td>
                        <td>{{ product[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="add-product">
        <h1>Добавление товара</h1>
        <form action="/add_product" method="post" enctype="multipart/form-data">
            <label for="name">Название:</label>
            <input type="text" name="name" id="name" required>
            <br><br>
            <label for="price">Цена:</label>
            <input type="number" name="price" id="price" required>
            <br><br>
            <label for="count">Количество:</label>
            <input type="number" name="count" id="count" required>
            <br><br>
            <label for="description">Описание:</label>
            <textarea name="description" id="description" required></textarea>
            <br><br>
            <label for="image">Изображение:</label>
            <input type="file" name="image" id="image" required>
            <br><br>
            <input type="submit" value="Добавить товар">
        </form>
    </div>
{% endblock %}