{% extends"base.html" %}

{% block title %}Мерч{% endblock %}

{% block page %}

    <div class="products">
        {% for product in products %}
            {% if product[5] > 0 %}
                <a href="/product/{{ product[2] }}/{{ product[0] }}">
                    <div class="product">
                        <div class="img">
                            <img src="{{ product[1] }}" width="200" height="200">
                            {% if product[0] in in_cart %}
                                <div>В корзине</div>
                            {% endif %}
                        </div>
                        <div class="name">{{ product[2] }}</div>
                        <div class="price">Цена: {{ product[3] }}₽</div>
                        <div class="count">Осталось: {{ product[5] }}</div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
