<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}">
    <title>1-ая конструкция</title>
</head>
<body>
    <div class="top">
        <h1>1-ая конструкция</h1>
        <div>
            {% if admin.key == 1 %}
                <a href="/add_product">Добавить мерч</a>
                <a href="/add_ticket">добавить концерт</a>
            {% endif %}
            <a href="/shop">Мерч</a>
            <a href="/cart">Карзина</a>
            
            <a href="/login">Войти</a>
        </div>
    </div>
    <div class="group-icon">
        <img src="{{ url_for('static', filename='group_icon.png' ) }}" alt="">
    </div>
    <h1>Рассписание концертов</h1>
    <div class="conserts">
        <table class="timetable">
            <thead>
                <tr>
                    <td>Дата</td>
                    <td>Время</td>
                    <td>Город</td>
                    <td>Место</td>
                    <td>Билеты</td>
                </tr>
            </thead>
            <tbody>
                {% for consert in concerts %}
                    <tr>
                        {% if consert[1]|length > 5 %}
                            <td>{{ consert[1][5:].replace("-", ".") }}</td>
                        {% else %}
                            <td>{{ consert[1].replace("-", ".") }}</td>
                        {% endif %}
                        <td><time>{{ consert[2] }}</time></td>
                        <td>{{ consert[3] }}</td>
                        <td>{{ consert[4] }}</td>
                        {% if consert[5]==0 %}
                            <td>SOLD OUT</td>
                        {% else %}
                            <td><a href="/ticket/{{ consert[0] }}">купить</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <div class="link">
            Наши социальные сети:   
            <div>
                <a href="https://vk.com/firstconst" target="_blank">
                    <img src="{{ url_for('static', filename='vk.png') }}" alt="vk" width="50px">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>